.nav {
	border-bottom: 1px solid rgba(33, 123, 244, 0.1);
}
.nav section {
	height: 90px;
	display: flex;
	justify-content: space-between;
  padding: 0 135px;
}

.nav section div {
	display: flex;
	align-items: center;
}

.nav section div:first-child ul {
	padding-left: 72px;
}

.nav section div:first-child ul li {
	display: inline-block;
	margin-right: 32px;
}

.nav .input-search {
	width: 105px;
	height: 32px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #E5E5E5;
	font-size: 12px;
	padding-bottom: 18px;
	padding-left: 20px;
}

.nav .input-group-search {
	position: relative;
	margin-right: 42px;
}

.nav .icon-search {
	position: absolute;
	top: 0;
}

.nav .input-search::placeholder {
	color: #686868;
	font-size: 12px;
	font-weight: 400;
}

.nav .input-search:focus-visible {
	outline: none;
}